<!DOCTYPE html>
<html>
{% block head  %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title  %} <title> Acceuil</title> {% endblock %}
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block css %}
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <link rel="stylesheet" href="{{asset('bundles/app/bootstrap/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
            <link rel="stylesheet" href="{{asset('bundles/app/dist/css/AdminLTE.min.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/dist/css/skins/_all-skins.min.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/iCheck/flat/blue.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/morris/morris.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/jvectormap/jquery-jvectormap-1.2.2.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/datepicker/datepicker3.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.css')  }}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/timepicker/bootstrap-timepicker.min.css')  }}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/select2/select2.min.css')  }}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/daterangepicker/daterangepicker-bs3.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">
            <link href="{{asset('bundles/app/vendor/bootstrap-fileinput/jasny-bootstrap.min.css')  }}" rel="stylesheet" media="screen">
            <link href="{{asset('bundles/app/vendor/jquery.fine-uploader/fine-uploader-gallery.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{asset('bundles/app/vendor/bootstrap-fileinput/jasny-bootstrap.min.css')  }}" rel="stylesheet" media="screen">
            <link href="{{asset('bundles/app/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.0.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{asset('bundles/app/vendor/bootstrap-rating/bootstrap-rating.css') }}" rel="stylesheet" media="screen">
            <link href="{{asset('bundles/app/kartik-v/bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{asset('bundles/app/plugins/iCheck/all.css') }}">
        {% endblock %}
        <![endif]-->
    </head>
{% endblock %}
{% set class='' %}
{% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_MODERATOR') == true%}
    {% set class='hold-transition skin-blue sidebar-mini' %}
    {% else %}
        {% set class='skin-blue sidebar-mini sidebar-collapse' %}
{% endif %}
<body class="{{ class }}">
<div class="wrapper">
    <header class="main-header">
        {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_MODERATOR') == true%}
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>Quiz</b></span>
                <span class="logo-lg"><b>Quiz</b></span>
            </a>
        {% endif %}
        <nav class="navbar navbar-static-top">
            {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_MODERATOR') == true%}
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
            {% endif %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_MODERATOR') == true%}
                        {{ render(controller('AppBundle:User:notify')) }}
                    {% endif %}
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="https://sobeds.ukzn.ac.za/wp-content/uploads/2018/03/profile-placeholder.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">{% if app.user %}{{ app.user.username}}{% endif %}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="https://sobeds.ukzn.ac.za/wp-content/uploads/2018/03/profile-placeholder.png" class="img-circle" alt="User Image">
                                <p>
                                    {% if app.user %}{{ app.user.username}}
                                         <small>{{ app.user.roles[0]}}</small>
                                    {% endif %}
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_MODERATOR') == true%}
        <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="https://sobeds.ukzn.ac.za/wp-content/uploads/2018/03/profile-placeholder.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{% if app.user %}{{ app.user.username}}{% endif %}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> En ligne </a>
                </div>
            </div>
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Recherche...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">NAVIGATION PRINCIPALE</li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> <span>Categories</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="{{ path('category_list') }}"><i class="fa fa-table"></i> Liste</a></li>
                        <li><a href="{{ path('category_add') }}"><i class="fa fa-edit"></i>Ajouter</a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> <span>Moderator</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="{{ path('user_list_moderator') }}"><i class="fa fa-table"></i> Liste</a></li>
                        <li><a href="{{ path('user_add_moderator') }}"><i class="fa fa-edit"></i>Ajouter</a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> <span>Candiature</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="{{ path('user_list_candidator') }}"><i class="fa fa-table"></i> Liste</a></li>
                        <li><a href="{{ path('user_add_candidator') }}"><i class="fa fa-edit"></i>Ajouter</a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> <span>Quiz</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="{{ path('quiz_list') }}"><i class="fa fa-table"></i> Liste</a></li>
                        <li><a href="{{ path('quiz_add') }}"><i class="fa fa-edit"></i>Ajouter</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    {% endif %}

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                {% block body %}

                {% endblock  %}
            </div>
        </section>
    </div>
    {% block footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            </div>
            <strong>Copyright &copy; 2018-2019 <a href="#">Quiz</a>.</strong>Tous les droits sont réservés.
        </footer>
    {% endblock %}

</div>

{% block js %}
    <script src="{{asset('bundles/app/ckeditor/ckeditor.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/jQuery/jQuery-2.2.0.min.js')}}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                {# "order": [[ 3, "desc" ]]#}
                "info": true,
                "autoWidth": false
            });
        });
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
            //Datemask dd/mm/yyyy
            $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
            //Datemask2 mm/dd/yyyy
            $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
            //Money Euro
            $("[data-mask]").inputmask();

            //Date range picker
            $('#reservation').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
            );

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

            //Colorpicker
            $(".my-colorpicker1").colorpicker();
            //color picker with addon
            $(".my-colorpicker2").colorpicker();
            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    </script>

    <script src="{{asset('bundles/app/plugins/select2/select2.full.min.js')  }}"></script>
    <script src="{{asset('bundles/app/plugins/input-mask/jquery.inputmask.js')  }}"></script>
    <script src="{{asset('bundles/app/plugins/input-mask/jquery.inputmask.date.extensions.js')  }}"></script>
    <script src="{{asset('bundles/app/plugins/input-mask/jquery.inputmask.extensions.js')  }}"></script>
    <script src="{{asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.js')  }}"></script>
    <script src="{{asset('bundles/app/plugins/timepicker/bootstrap-timepicker.min.js')  }}"></script>
    <script src="{{asset('bundles/app/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{{asset('bundles/app/plugins/morris/morris.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/knob/jquery.knob.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{{asset('bundles/app/plugins/daterangepicker/daterangepicker.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/pages/dashboard.js')}}"></script>
    <script src="{{asset('bundles/app/js/plugins/fileupload/bootstrap-fileupload.js')}}"></script>
    <script src="{{asset('bundles/app/vendor/jquery.fine-uploader/jquery.fine-uploader.min.js') }}"></script>
    <script src="{{asset('bundles/app/vendor/bootstrap-fileinput/jasny-bootstrap.js') }}"></script>
    <script src="{{asset('bundles/app/kartik-v/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js') }}" type="text/javascript"></script>
    <script src="{{asset('bundles/app/kartik-v/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
    <script src="{{asset('bundles/app/kartik-v/bootstrap-fileinput/js/fileinput_locale_<lang>.js') }}"></script>







    <script src="{{asset('bundles/app/plugins/chartjs/Chart.min.js') }}"></script>
    <script src="{{asset('bundles/app/dist/js/pages/dashboard2.js') }}"></script>


    <script src="{{asset('bundles/plugins/iCheck/icheck.min.js') }}"></script>



















{% endblock %}

</body>
</html>
