{% extends "AppBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block title  %} <title> Ajouter categorie</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ajouter categorie </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">

                        <form class="form-horizontal" role="form" action="" method="post">
                              {{ form_widget(form._token) }}
                             {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                    {{ flashMessage }}
                                </div>
                            {%endfor%}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">{{ form_label(form.name)}}</label>
                                <div class="col-sm-10">
                                     {{ form_widget(form.name)}}
                                     {{ form_errors(form.name)}}
                                </div>
                            </div>
                            <div class="box-footer">
                                <a href="{{ path('category_list') }}">
                                    <button type="button" class="btn btn-danger"><< Précédent</button>
                                </a>
                                {{ form_widget(form.submit)}}
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    {{ parent() }}
{% endblock  %}