{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title  %} <title> Liste des categories</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content">
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title">Listes des categories </h1>
                        <div style ="right: -290px;">
                            <a href="{{ path('category_add') }}" type="submit" class="btn btn-success " >+ Ajouter nouveau categorie </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 10px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                                <a data-toggle="tooltip" title ="delete"> <span class="glyphicon glyphicon-trash" id="btn_delete" aria-hidden="true"></span></a><br>
                                                <input type="checkbox" class="check_all"/>
                                                <label>All</label>
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nom</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for c in repository.findAll() %}
                                            {% set cat=repository.find(c.id) %}
                                            <tr id="{{c.id}}" role="row" class="odd">
                                                <td class="sorting_1">
                                                    <input type="checkbox" class="check_delete" data-id="{{c.id}}" value="{{c.id}}"/>
                                                </td>
                                                <td class="sorting_1">{{ c.name }}</td>
                                                <td class="sorting_1">
                                                    <a href="#update_{{ c.id }}" data-toggle="modal" title="Modifier">
                                                        <i class="fa fa-fw fa-pencil"></i>
                                                    </a>
                                                    <div class="modal fade" id="update_{{ c.id }}" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title">Modifier</h4>
                                                                </div>
                                                                <br><br>
                                                                <form method="post" action="{{ path('category_update',{'id':c.id}) }}">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-1"> <label>Nom (*)</label></div>
                                                                            <div class="col-md-2"> <input type="text" name="name" class="form-control input-lg"value="{{ cat.name }}" id="inputlg"></div>
                                                                        </div>
                                                                    </div>

                                                                    <br><br>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                                        <button type="submit" id="btn_save_data" class="btn btn-primary">Modifier</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(".check_all").click(function () {
            $('.check_delete').not(this).prop('checked', this.checked);
        });

        $('#btn_delete').click(function () {
            if (confirm("Êtes-vous sûr de vouloir supprimer cette categorie?")) {
                var id = [];
                $('.check_delete').each(function (i) {
                    if (this.checked) {
                        id[i] = $(this).val();
                    }
                });
                if (id.length === 0){
                    alert("Veuillez sélectionner au moins une case à cocher");
                } else {
                    $.ajax({
                        url: '{{path('category_delete')}}',
                        method: 'POST',
                        data: {id: id},
                        success: function ()
                        {
                            for (var i = 0; i < id.length; i++) {
                                $('tr#' + id[i] + '').css('background-color', '#ccc');
                                $('tr#'+id[i]+'').fadeOut('slow');
                            }
                        }
                    });
                }
            }else {
                return false;
            }
        });

    </script>
    {{ parent() }}
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>

{% endblock  %}