{% block css %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentification</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="{{asset('bundles/app/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{{asset('bundles/app/dist/css/AdminLTE.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/app/plugins/iCheck/square/blue.css')}}">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    </head>
{% endblock css %}

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"><b>Quiz</b></div>
    {% block body %}

    {% endblock body %}
</div>
{% block javaScript %}
    <script src="{{asset('bundles/app/plugins/jQuery/jQuery-2.2.0.min.js')}}"></script>
    <script src="{{asset('bundles/app/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/iCheck/icheck.min.js')}}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock javaScript %}
</body>

