{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {%block body %}

        <div class="login-box-body">
            <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>
            {% if error %}
                <div class="text-danger">
                    {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
                   Veuillez verifier votre nom ou mot de passe svp.
                </div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="Nom utilisateur">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password"  placeholder="Mot de passe">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8" >
                        <div class="checkbox icheck" >
                            <label hidden>
                                <input type="checkbox" > Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Connecter</button>
                    </div>
                </div>
            </form>
        </div>
    {%endblock body %}


{% endblock fos_user_content %}

