{% extends "AppBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block title  %} <title> Ajouter candidature</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ajouter candidature </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">

                        <form class="form-horizontal" role="form"  method="post" enctype="multipart/form-data" >
                            {{ form_widget(form._token) }}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                    {{ flashMessage }}
                                </div>
                            {%endfor%}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.firstname)}}  </label>
                                <div class="col-sm-10">
                                     {{ form_widget(form.firstname)}}
                                     {{ form_errors(form.firstname)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.lastname)}} </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.lastname)}}
                                    {{ form_errors(form.lastname)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.email)}}  </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.email)}}
                                    {{ form_errors(form.email)}}
                                </div>
                            </div>
                            <div class="form-group {{ form.phone.vars.errors|length > 0 ? 'has-error' }}">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.phone)}}  </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.phone)}}
                                    <div class="text-danger">
                                    {{ form_errors(form.phone)}}
                                    </div>
                                </div>
                            </div>

                           {#
                           <div class="form-group {{ form.password.second.vars.errors|length > 0 ? 'has-error' }}">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.password.second)}}  </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.password.second)}}
                                </div>
                            </div>
                            <div class="form-group {{ form.password.first.vars.errors|length > 0 ? 'has-error' }}">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.password.second)}}  </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.password.first)}}
                                    <div class="text-danger">
                                    {{ form_errors(form.password.first)}}
                                    </div>
                                </div>
                            </div>
                           #}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">   </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.brochure)}}
                                    {{ form_errors(form.brochure) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label"> {{ form_label(form.enabled)}}  </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.enabled)}}
                                    {{ form_errors(form.enabled)}}
                                </div>
                            </div>
                            <div class="box-footer">
                                <a href="{{ path('user_list_candidator') }}">
                                    <button type="button" class="btn btn-danger"><< Précédent</button>
                                </a>
                               {{ form_widget(form.submit)}}
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    {{ parent() }}
{% endblock  %}