{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title  %} <title> Affectation</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}

        {% block body %}
            <section class="content">
                <div class="box box-default">
                    <div class="box-body" style="display: block;">
                        <form class="form-horizontal" role="form"  method="post" action=""  >
                            {{ form_widget(form._token) }}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                    {{ flashMessage }}
                                </div>
                            {%endfor%}
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="checkbox" checked="checked" class="check_quiz" /><label>All</label>
                                    <label>Quiz</label>
                                    <br>
                                    {%for quiz in repQuiz.findAll()%}
                                        <input checked="checked" type="checkbox"   class="quiz" value="{{ quiz.id }}" name ="quiz[]" >{{ quiz.name }}
                                        <br>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="box-footer">
                                <a href="{{ path('user_list_candidator') }}">
                                    <button type="button" class="btn btn-danger"><< Précédent</button>
                                </a>
                                 {{ form_widget(form.submit)}}
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="box-body" style="display: block;">


                </div>
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title">Liste des affectations </h1>
                    </div>
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 10px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                                <a data-toggle="tooltip" title ="delete"> <span class="glyphicon glyphicon-trash" id="btn_delete" aria-hidden="true"></span></a><br>
                                                <input type="checkbox" class="check_all"/>
                                                <label>All</label>
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Quiz</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Status</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for affectation in user.affectation %}
                                            <tr id="{{affectation.id}}" role="row" class="odd">
                                                <td class="sorting_1">
                                                    <input type="checkbox" class="check_delete" data-id="{{affectation.id}}" value="{{affectation.id}}"/>
                                                </td>
                                                <td class="sorting_1">{{ affectation.quiz.name }}</td>
                                                <td class="sorting_1">
                                                    {% if affectation.status==0 %}
                                                            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                                                        {% else %}
                                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    {%  endif %}
                                                </td>
                                                <td class="sorting_1">
                                                    <select  class="form-control" onchange="location = this.value;">
                                                        <option value="">Gérer:</option>
                                                        {% if affectation.status==1 or affectation.status==2%}<option value="{{ path('quiz_consulter',{'idUser':user.id,'idQuiz':affectation.quiz.id}) }}">Consulter</option>{%  endif %}
                                                    </select>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock  %}

{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(".check_quiz").click(function () {
            $('.quiz').not(this).prop('checked', this.checked);
        });

        $(".check_all").click(function () {
            $('.check_delete').not(this).prop('checked', this.checked);
        });

        $('#btn_delete').click(function () {
            if (confirm("Êtes-vous sûr de vouloir supprimer cette affectation?")) {
                var id = [];
                $('.check_delete').each(function (i) {
                    if (this.checked) {
                        id[i] = $(this).val();
                    }
                });
                if (id.length === 0){
                    alert("Veuillez sélectionner au moins une case à cocher");
                } else {
                    $.ajax({
                        url: '{{ path('affectation_delete') }}',
                        method: 'POST',
                        data: {id: id},
                        success: function ()
                        {
                            for (var i = 0; i < id.length; i++) {
                                $('tr#' + id[i] + '').css('background-color', '#ccc');
                                $('tr#'+id[i]+'').fadeOut('slow');
                            }
                        }
                    });
                }
            }else {
                return false;
            }
        });
    </script>
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <!-- SlimScroll -->
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock  %}