{% extends "AppBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block title  %} <title>Notifications</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <div class="box box-success">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-envelope-o"></i>
                    <h3 class="box-title">Notifications</h3>
                </div>
                <div class="slimScrollDiv">
                    <div class="box-body chat" id="chat-box"  >
                        {% for a in affectation %}
                            <hr>
                            <div class="item">
                                <img src="https://sobeds.ukzn.ac.za/wp-content/uploads/2018/03/profile-placeholder.png" alt="user image" class="offline">
                                <p class="message">
                                    <a href="{{ path('details_notify',{'idA':a.id,'idUser':a.user.id,'idQuiz':a.quiz.id}) }}" class="name">
                                       {{ a.user.firstName }} {{ a.user.lastName }}
                                    </a>
                                    La candidature {{ a.user.firstName }} {{ a.user.lastName }} à bien valider son test de quiz <a>{{ a.quiz.name }}</a> pour plus de détails veuillez cliquer pour consulter son résultats.
                                </p>
                            </div>

                       {% endfor%}
                    </div>
                </div>
            </div>

        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    {{ parent() }}
{% endblock  %}