{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title  %} <title> Consulter </title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}

        {% block body %}
            {% set note=repositoryQuiz.sumNote(user,repositoryQuiz.find(idQuiz))[0]['moyen']==null?0:repositoryQuiz.sumNote(user,repositoryQuiz.find(idQuiz))[0]['moyen'] %}
                <center><h1>Score {{ note }}/20</h1></center>
            <section class="content">
                <div class="box box-default">
                    <div class="box-body" style="display: block;">
                       <a href="{{ path('user_affectation',{'id':user.id}) }}" class="pull-right">
                           <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Précédent
                       </a>
                        <br>
                        {% set status='false' %}
                        {#{% for quiz in repositoryQuiz.findAll() %}#}
                            {% for keyQ,qt in repositoryQuiz.find(idQuiz).question %}
                            {{ keyQ+1 }}. <strong>{{ qt.txt }}</strong>
                                <br><br>
                                    <ul>
                                        {% for keyP,pr in qt.proposition %}
                                            {% set status='' %}
                                            {% for responses in responses %}
                                                {% if (responses.proposition.id==pr.id) and (pr.response==1)%}
                                                        {% set status='true' %}
                                                {% elseif (responses.proposition.id==pr.id) and (pr.response==0)%}
                                                        {% set status='false' %}
                                                {% endif %}
                                            {% endfor %}
                                            <ul>
                                                <li>
                                                     {% if status=='false' %}
                                                         <strike> <font size="3" class="text-danger"><strong>{{ pr.txt }}</strong></font></strike>
                                                     {% elseif status=='true' %}
                                                     <font size="3" class="text-green"><strong>{{ pr.txt }}</strong></font>
                                                         <strong>({{ pr.note }} points)</strong>
                                                         {% else %}
                                                      <font size="3" >{{ pr.txt }}</font>
                                                     {% endif %}
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </ul>
                                <br>
                            {% endfor %}
                        {#{% endfor %}#}
                    </div>
                </div>
            </section>
        {% endblock  %}

{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    {{ parent() }}
{% endblock  %}