<a href="#update_{{ user.id }}" data-toggle="modal" title="Modifier">
    <i class="fa fa-fw fa-pencil"></i>
</a>
<div class="modal fade" id="update_{{ user.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Vos infos :</h4>
            </div>
            <div class="modal-body">
                <form   action="{{ path('user_update_candidator',{'id':user.id}) }}" method="post" enctype="multipart/form-data" >
                {{ form_widget(form._token) }}
                <div class="row">
                    <div class="col-xs-2">
                        <label>Prénom(*):</label>
                    </div>
                    <div class="col-xs-7">
                        {{ form_widget(form.firstname, {attr:{'size':50},'method' : 'post', 'action': path('user_update_candidator', { 'id' : user.id }) }) }}
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-2">
                        <label>Nom(*):</label>
                    </div>
                    <div class="col-xs-7">
                        {{ form_widget(form.lastname, {attr:{'size':50},'method' : 'post', 'action': path('user_update_candidator', { 'id' : user.id }) }) }}
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-2">
                        <label>E-mail(*):</label>
                    </div>
                    <div class="col-xs-7">
                        {{ form_widget(form.email,{attr:{'size':50},'method' : 'post', 'action': path('user_update_candidator', { 'id' : user.id }) }) }}
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-2">
                        <label>Téléphone(*):</label>
                    </div>
                    <div class="col-xs-7">
                        {{ form_widget(form.phone, { attr:{'size':50},'method' : 'post', 'action': path('user_update_candidator', { 'id' : user.id }) }) }}
                    </div>
                </div><br>


                    <div class="row">
                        <div class="col-xs-2">
                            <label>CV(*):</label>
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.brochure, {'method' : 'post', 'action': path('user_update_candidator', { 'id' : user.id }) }) }}
                        </div>
                    </div><br>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="submit" id="btn_save_data" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
