{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title  %} <title> Listes des candidatures</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}

        {% block body %}


            <section class="content">
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title">Listes des candidatures </h1>
                        <div style ="right: -290px;">
                            <a href="{{ path('user_add_candidator') }}" type="submit" class="btn btn-success " >+ Ajouter nouveau candidature </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Prénom</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nom</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Email</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Téléphone</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Mot de passe</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Status</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Roles</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">CV*</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in repository.findByRole('ROLE_CANDIDATOR') %}
                                        {% set class=user.enabled==1?'icon-li fa fa-check-circle text-success':'icon-li fa fa-ban text-danger' %}
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{ user.firstname }}</td>
                                                <td class="sorting_1">{{ user.lastname }}</td>
                                                <td class="sorting_1">{{ user.email }}</td>
                                                <td class="sorting_1">{{ user.phone }}</td>
                                                <td class="sorting_1">**********</td>
                                                <td class="sorting_1"><a href="{{ path('user_disabled_candidator',{'id':user.id}) }}" class="{{ class }}"></a></td>
                                                <td class="sorting_1">{{ user.roles[0]|split('_')[1] }}</td>
                                                <td class="sorting_1">
                                                    {% set href=user.brochure!=""?path('download_cv',{'id':user.id}):'#'%}
                                                    {% set msg=user.brochure!=""?'Téléchargement':'vide'%}
                                                    <a  disabled="disabled" href="{{ href }}">
                                                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                                        <span class="glyphicon-class">{{ msg }}</span>
                                                    </a>
                                                </td>
                                                <td class="sorting_1">
                                                    <select  class="form-control" onchange="location = this.value;">
                                                        <option value="">Gérer:</option>
                                                        <option value="{{ path('user_affectation',{'id':user.id}) }}">Affectation</option>
                                                    </select>
                                                    {{ render(controller('AppBundle:User:updateCandidator', { 'id' : user.id } )) }}

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock  %}

{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <!-- SlimScroll -->
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock  %}