<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-danger">{{ affectation|length }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Vous avez {{ affectation|length }} messages</li>
        <li>
            <div class="slimScrollDiv">
            <ul class="menu">
                {% for a in affectation %}
                    {% set message='La candidature à bien valider son test de quiz' ~ a.quiz.name %}
                    <li>
                        <a href="{{ path('details_notify',{'idA':a.id,'idUser':a.user.id,'idQuiz':a.quiz.id}) }}">
                            <div class="pull-left">
                                <img src="https://sobeds.ukzn.ac.za/wp-content/uploads/2018/03/profile-placeholder.png" class="img-circle" alt="User Image">
                            </div>
                            <h4>
                                {{ a.user.firstName }} {{ a.user.lastName }}
                            </h4>
                            <p>{{ message|slice(0, 40) ~ '...' }}</p>
                        </a>
                    </li>
                {% endfor %}

            </ul>
            </div>
        </li>
        <li class="footer"><a href="{{ path('all_notify') }}">Voir tous les messages</a></li>
    </ul>
</li>