Merci de cliquer sur ce lien pour commencer votre quiz
<a href="{{ path('fos_user_security_login') }}">ICI</a>
<br>
{% if user.status==2 %}
Nom d'utilisateur:{{ user.firstName }}  {{ user.lastName }}
    <br>
{% set password= user.firstName|first~user.lastName~'now'|date('Y')  %}
Mot de passe:{{ password }}
{% endif %}