{% extends "AppBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block css %}
        {{ parent() }}
        <style>
            .time{
                font-size: 30px;
                margin: 20px;
                font-family: monospace;
            }
        </style>
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content">
                <div class="alert alert-warning time" role="alert"  style="position: fixed; right: 0px;  top: 40px; background:  white;" >
                </div>
                <center><h1>Test Qcm</h1></center>
                <form  id="myform" action="{{ path('quiz_check',{'idUser':idUser,'idQuiz':quiz.id}) }}" method="post">
                    <input hidden type="text" value="{{ quiz.realTime }}" id="real-time">
                    {% for keyQ,q in quiz.question %}
                        <input hidden type="text" value="{{ q.questionTime }}" class="question-time" id="question-time-{{ keyQ+1 }}">
                        <div class="panel panel-default well">
                            <div class="panel-body">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label"> Question {{ keyQ+1 }}/20:</label>
                                        <div class="col-sm-10">
                                           <p>{{ q.txt }}</p>
                                        </div>
                                        <div class="col-sm-10">
                                            {% for keyP,p in q.proposition%}
                                                {% if q.choiceResponse==0%}
                                                    <ul>
                                                        <li>
                                                            <input {% if keyP==0 %} checked="checked" {% endif %} value="{{ p.id }}" type="radio" name="unique_response_{{ keyQ+1 }}[]"> {{ p.txt }}
                                                        </li>
                                                    </ul>
                                                        {% else %}
                                                         <ul>
                                                             <li><input value="{{ p.id }}" name="multiple_response[]" type="checkbox">  {{ keyP+1 }}) {{ p.txt }}</li>
                                                         </ul>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn-success pull-right">+ Valider</button>
                </form>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        var time = "";
        if($('#real-time').val()!='00:00:00'){
            time=$('#real-time').val();
        }
        //      $('div[data-id='+"note_"+key_question+']').hide();
        var timeParts = time.split(":");
        var startValue=(+timeParts[0] * (60000 * 60)) + (+timeParts[1] * 60000);
        //  var startValue = 12000; //Number of milliseconds
        var time = new Date(startValue);
        var interv;

        var hour = time.getHours();
        var newHour = time.setHours(hour - 1);
        function done(){
            document.forms["myform"].submit();
        }
        $(
            function x(){
                displayTime();
                // $(".start").each(function(){
                interv = setInterval(function(){
                    time = new Date(time - 1000);
                    var stop=time.getHours()+':'+time.getMinutes()+':'+time.getSeconds();
                    // if(time==0){
                    if(stop=='0:0:0'){
                        done();
                        clearInterval(interv);
                    }
                    displayTime();
                }, 1000);
                // });
                /*
                $(".stop").on("click", function(){
                    clearInterval(interv);
                    time = new Date(startValue);
                    displayTime();
                });
                $(".pause").on("click", function(){
                    clearInterval(interv);
                });
                $(".reset").on("click", function(){
                    time = new Date(startValue);
                    displayTime();
                });
                */
            });


        function displayTime(){
            $(".time").text(fillZeroes(time.getHours()) + ":" +fillZeroes(time.getMinutes()) + ":" + fillZeroes(time.getSeconds()));
        }

        function fillZeroes(t){
            t = t+"";
            if(t.length==1)
                return "0" + t;
            else
                return t;
        }

    </script>


    {{ parent() }}
    <!-- DataTables -->
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <!-- SlimScroll -->
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock  %}