Bonjour {{ user.firstname }} {{ user.lastname }},<br>
Pour finaliser votre inscription ,veuillez saisir votre mot de passe à la page suivante
<a href="{{ path("finish_registration",{"confirmationTocken":confirmationTocken}) }}">ICI </a>
