{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title  %} <title> Détails du quiz</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content ">
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title">Détails du quiz <a href="{{ path('quiz_list') }}">{{ repository.find(id).name }}</a> </h1>
                    </div>




                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable table-condensed" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 10px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                                <a data-toggle="tooltip" title ="delete"> <span class="glyphicon glyphicon-trash" id="btn_delete" aria-hidden="true"></span></a><br>
                                                <input type="checkbox" class="check_all"/>
                                                <label>All</label>
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Question</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Proposition</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 10px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Choix</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 10px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Temps question</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for key,question in repository.find(id).question %}

                                        <tr id="{{question.id}}" role="row" class="odd">
                                            <td class="sorting_1">
                                                <input type="checkbox" class="check_delete" data-id="{{question.id}}" value="{{question.id}}"/>
                                            </td>
                                            <td class="sorting_1">
                                                <a href="#details_{{ question.id }}" data-toggle="modal">{{ question.txt|slice(0, 40) ~ '...' }}</a>
                                                <div class="modal fade" id="details_{{ question.id }}" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">x</button>
                                                                <h4 class="modal-title">Question{{ key+1 }}(*):</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form   method="post" action="">
                                                                    <div class="row">
                                                                        <div class="col-xs-7">
                                                                            <textarea disabled rows="10" cols="90">{{ question.txt }}</textarea>
                                                                        </div>
                                                                    </div><br>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="sorting_1">
                                                {%  for proposition in question.proposition%}
                                                    {% set class= proposition.response==1?'text-green':'text-danger'%}
                                                    {% set points= proposition.note!=null?proposition.note:0%}
                                                     <li>
                                                         <font size="2" class="{{ class }}"><strong>{{ proposition.txt }}</strong></font>
                                                         ({{ points }} points)
                                                     </li><br>
                                                {%  endfor %}
                                            </td>
                                            <td class="sorting_1">{% if question.choiceResponse==0 %}Unique {% else %} Multiple{% endif %}</td>
                                            <td class="sorting_1">
                                            {% set time='00:00:00' %}
                                            {% if question.questionTime %}
                                                {{ question.questionTime }}
                                            {% else %}
                                                {{ time }}
                                            {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(".check_all").click(function () {
            $('.check_delete').not(this).prop('checked', this.checked);
        });

        $('#btn_delete').click(function () {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce quiz?")) {
                var id = [];
                $('.check_delete').each(function (i) {
                    if (this.checked) {
                        id[i] = $(this).val();
                    }
                });
                if (id.length === 0){
                    alert("Veuillez sélectionner au moins une case à cocher");
                } else {
                    $.ajax({
                        url: '{{ path('question_delete') }}',
                        method: 'POST',
                        data: {id: id},
                        success: function ()
                        {
                            for (var i = 0; i < id.length; i++) {
                                $('tr#' + id[i] + '').css('background-color', '#ccc');
                                $('tr#'+id[i]+'').fadeOut('slow');
                            }
                        }
                    });
                }
            }else {
                return false;
            }
        });

    </script>
    {{ parent() }}
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>

{% endblock  %}