{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title  %} <title> Liste des quiz</title> {% endblock %}
    {% block css %}
        {{ parent() }}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content">
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title">Listes des quiz </h1>
                        <div style ="right: -290px;">
                            <a href="{{ path('quiz_add') }}" type="submit" class="btn btn-success " >+ Ajouter nouveau quiz </a>
                        </div>
                    </div>




                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 10px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                                <a data-toggle="tooltip" title ="delete"> <span class="glyphicon glyphicon-trash" id="btn_delete" aria-hidden="true"></span></a><br>
                                                <input type="checkbox" class="check_all"/>
                                                <label>All</label>
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Nom</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Categorie</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Temps quiz</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for quiz in repository.findAll() %}

                                            {#<a href="#item1" data-toggle="collapse"> Accordéon </a>

                                            <div id="item1" class="panel-collapse collapse out">
                                                <div class="panel-body"> Ce plugin permet de créer des effets "accordéon" totalement paramétrables</div>
                                            </div>#}

                                            <tr id="{{quiz.id}}" role="row" class="odd">
                                                <td class="sorting_1">
                                                    <input type="checkbox" class="check_delete" data-id="{{quiz.id}}" value="{{quiz.id}}"/>
                                                </td>
                                                <td class="sorting_1">
                                                    <a href="#item1" data-toggle="collapse"> {{ quiz.name }}  </a>
                                                </td>
                                                <td class="sorting_1">{{ quiz.category.name }}</td>
                                                <td class="sorting_1">{{ quiz.realTime }}</td>
                                                <td class="sorting_1">
                                                    <a href="{{ path('quiz_details',{'id':quiz.id}) }}" data-toggle="tooltip" title="Détails">
                                                        <i class=" fa fa-search"></i>
                                                    </a>
                                                    <a href="{{ path('quiz_update',{'id':quiz.id}) }}" data-toggle="tooltip" title="Modifier">
                                                        <i class="fa fa-fw fa-pencil"></i>
                                                    </a>

                                                </td>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $(".check_all").click(function () {
            $('.check_delete').not(this).prop('checked', this.checked);
        });

        $('#btn_delete').click(function () {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce quiz?")) {
                var id = [];
                $('.check_delete').each(function (i) {
                    if (this.checked) {
                        id[i] = $(this).val();
                    }
                });
                if (id.length === 0){
                    alert("Veuillez sélectionner au moins une case à cocher");
                } else {
                    $.ajax({
                        url: '{{ path('quiz_delete') }}',
                        method: 'POST',
                        data: {id: id},
                        success: function ()
                        {
                            for (var i = 0; i < id.length; i++) {
                                $('tr#' + id[i] + '').css('background-color', '#ccc');
                                $('tr#'+id[i]+'').fadeOut('slow');
                            }
                        }
                    });
                }
            }else {
                return false;
            }
        });

    </script>
    {{ parent() }}
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>

{% endblock  %}