{% extends "AppBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block title  %} <title> Modifier Quiz</title> {% endblock %}
    {% block css %}

        {{ parent() }}
        {# <link href="{{asset('bundles/app/bootstrap/css/bootstrap-datetimepicker.min.css') }}" media="all" rel="stylesheet" type="text/css" />

         <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
         <link rel="stylesheet" type="text/css" media="screen"
               href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
         <link href="{{asset('bundles/app/bootstrap/css/bootstrap-datetimepicker.min.css') }}" media="all" rel="stylesheet" type="text/css" />#}
    {% endblock css %}
{% endblock  %}
        {% block body %}
            <section class="content">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Modifier Quiz </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">

                        <form class="form-horizontal" role="form" action="{{ path('quiz_update',{'id':quiz.id}) }}" method="post">
                            {{ form_widget(form._token) }}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-info alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                    {{ flashMessage }}
                                </div>
                            {%endfor%}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">{{ form_label(form.name)}}</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.name)}}
                                    {{ form_errors(form.name)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">{{ form_label(form.category)}}</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.category)}}
                                    {{ form_errors(form.category)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">{{ form_label(form.realTime)}}</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.realTime)}}
                                    {{ form_errors(form.realTime)}}
                                </div>
                            </div>


                            {% for i in 1..20 %}
                                {% set que='' %}
                                {% set type='' %}
                                {% set timeQuestion='' %}

                                <div {% if i>quiz.question|length %} hidden {% endif %}class="panel panel-default well" id="block-question-{{ i }}">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Question {{ i }}(*)</label>
                                            <div class="col-sm-10">
                                                {% for keyQ,question in quiz.question %}
                                                    {% if keyQ+1==i%}
                                                        {% set que=question.txt %}
                                                        {% set type=question.choiceResponse %}
                                                        {% set timeQuestion=question.questionTime %}

                                                    {% endif %}
                                                {% endfor %}
                                                <textarea id="question_{{ i }}" name="question_{{ i }}" class="form-control" rows="4" cols="10">{{que}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Type {{ i }}(*)</label>
                                            <div class="col-sm-5">
                                                        <select name="type_{{ i }}" id="type_{{ i }}" class="type form-control">
                                                            <option  {% if type==0 %}selected="selected"{% endif %} value="0">Unique</option>
                                                            <option  {% if type==1 %}selected="selected"{% endif %}  value="1">Multiple</option>
                                                        </select>
                                            </div>
                                            <input id="appt-time" type="time" value="{{ timeQuestion }}" name="appt_time_{{ i }}" step="2" class="time_question">
                                        </div>
                                        {% set countProposition='' %}
                                        {% for k in 1..6 %}
                                            {% set response='' %}
                                            {% set uniqueChoice=0 %}
                                            {% set multipleChoice=0 %}
                                            {% set countProposition='' %}
                                            {% set note='' %}
                                            {% for keyQ,question in quiz.question %}
                                                {% if keyQ+1==i%}
                                                    {% set countProposition=question.proposition|length %}
                                                    {% for keyP,pr in question.proposition %}
                                                        {% if keyP+1==k%}
                                                              {% set response=pr.txt %}
                                                              {% set uniqueChoice=pr.response %}
                                                              {% set multipleChoice=pr.response %}
                                                              {% set note=pr.note %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            <div {% if k >countProposition %}hidden {% endif %}class="col-md-12" id="block_response_{{ i }}_{{ k }}">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label">Réponse {{ k }}(*)</label>
                                                    <div class="col-sm-10">
                                                        <input id="response_{{ i }}_{{ k }}" value="{{ response }}" type="text" name="response_{{ i }}_{{ k }}" size="80"/>
                                                        <label>Bonne Réponse {{ k }}(*)</label>
                                                        <input hidden  class="multiple_response" {% if multipleChoice==true %} checked="checked" {% endif %} id="multiple_response_{{ i }}_{{ k }}" name="multiple_response_{{ i }}_{{ k }}" type="checkbox">
                                                        <input hidden value="{{ k }}" {% if uniqueChoice==true %}checked="checked"{% elseif k==1 %}checked="checked"{% endif %} class="unique_response" data-id="unique_response_{{ i }}_{{ k }}" id="unique_response_{{ i }}_{{ k }}" name="unique_response_{{ i }}" type="radio">
                                                        <input hidden  value="{{ note }}" class="note" data-id="note_{{ i }}" name="note_{{ i }}[]" id="note_{{ i }}_{{ k }}" type="text" placeholder="Note {{ k }}(*)">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="container">
                                            <input  type="text"  hidden  id="qty_{{ i }}" value="{% if countProposition!='' %}{{ countProposition }}{% else %}2{% endif %}" class="input-text" />
                                            <div class="button-container pull-right">
                                                <button  class="increment" id="increment_{{ i }}" type="button" value="+">+</button>
                                                <button  class="decrement" id="decrement_{{ i }}" type="button" value="-">-</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="container">
                                <input hidden type="text" name="qty" class="qty" maxlength="12" value="{{ quiz.question|length }}" class="input-text qty" />
                                <div class="button-container pull-right">
                                    <button class="cart-qty-plus" type="button" value="+">+</button>
                                    <button class="cart-qty-minus" type="button" value="-">-</button>
                                </div>
                            </div>
                            <br>
                            <div class="box-footer">
                                <a href="{{ path('quiz_list') }}">
                                    <button type="button" class="btn btn-danger"><< Précédent</button>
                                </a>
                                <button type="submit" class="btn btn-info pull-right">+ Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        {% endblock  %}
{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>

        var incrementPlus;
        var incrementMinus;

        var buttonPlus  = $(".cart-qty-plus");
        var buttonMinus = $(".cart-qty-minus");

        var incrementPlus = buttonPlus.click(function() {

            var $n = $(this)
                .parent(".button-container")
                .parent(".container")
                .find(".qty");
            $n.val(Number($n.val())+1 );
            $('#block-question-'+$n.val()).show();

            $('#question_'+$n.val()).val("");
            for(var i=1;i<=6;i++){
                $('#response_'+$n.val()+'_'+i).val("");
                $('#block_response_'+$n.val()+'_'+i).hide();
                if(i<=2){
                    $('#block_response_'+$n.val()+'_'+i).show();
                    if($('#type_'+$n.val()).val()==0){
                        $("#unique_response_"+$n.val()+'_1').prop('checked', true);
                        $('#note_'+$n.val()+'_1').show();
                    }
                }
                $('#note_'+$n.val()+'_'+i).val("");
                $("#multiple_response_"+$n.val()+'_'+i).attr('checked', false);
                if($('#type_'+$n.val()).val()==1){
                    $('#note_'+$n.val()+'_'+i).hide();
                }
            }
        });

        var incrementMinus = buttonMinus.click(function() {

            var $n = $(this)
                .parent(".button-container")
                .parent(".container")
                .find(".qty");
            var amount = Number($n.val());
            if (amount > 1) {
                var decrement=amount-1
                $n.val(amount-1);
                $('#block-question-'+amount).hide();
                $('#question_'+amount).val("");
                    for(var i=1;i<=6;i++){
                        $('#response_'+amount+'_'+i).val("");
                        $('#block_response_'+amount+'_'+i).hide();
                        if(i<=2){
                            $('#block_response_'+amount+'_'+i).show();
                            if($('#type_'+amount).val()==0){
                                $("#unique_response_"+amount+'_1').prop('checked', true);
                                $('#note_'+amount+'_1').show();
                            }
                        }
                        $('#note_'+amount+'_'+i).val("");
                        $("#multiple_response_"+amount+'_'+i).attr('checked', false);
                        if($('#type_'+amount).val()==1){
                            $('#note_'+amount+'_'+i).hide();
                        }
                    }
            }
        });

        $(document).ready(function(){

            $('.increment').click(function(){
                var $key=$(this).attr('id').split('_')[1];
                var $input= $(this) .parent(".button-container").parent(".container").find('#qty_'+$key);
                if($('#qty_'+$key).val()<6){
                    var increment=Number($('#qty_'+$key).val())+1;
                    $input.val(increment);
                    $('#block_response_'+$key+'_'+increment).show();
                }

            });
            $('.decrement').click(function(){
                var $key=$(this).attr('id').split('_')[1];
                var $input= $(this) .parent(".button-container").parent(".container").find('#qty_'+$key);
                if($('#qty_'+$key).val()>2){
                    $('#response_'+$key+'_'+$('#qty_'+$key).val()).val("");
                    $('#note_'+$key+'_'+$('#qty_'+$key).val()).val("");
                    if($('#type_'+$key).val()==1){
                        $("#multiple_response_"+$key+'_'+$('#qty_'+$key).val()).attr('checked', false);
                        $('#note_'+$key+'_'+$('#qty_'+$key).val()).hide();
                    }
                    $('#block_response_'+$key+'_'+$('#qty_'+$key).val()).hide();
                    var decrement=Number($('#qty_'+$key).val())-1;
                    $input.val(decrement);

                }

            });


            $('.type').attr("selected", "selected").each(function () {
                var key_question=$(this).attr('id').split("_")[1];
                for(var i=1;i<=6;i++){
                    if($(this).val()==0){
                        $('#unique_response_'+key_question+'_'+i).show();
                        $('#multiple_response_'+key_question+'_'+i).hide();
                    }else{
                        $('#unique_response_'+key_question+'_'+i).hide();
                        $('#multiple_response_'+key_question+'_'+i).show();
                    }
                }
            });
            $('body').on('change', '.type', function (e) {
                var key_question=$(this).attr('id').split("_")[1];
                for(var i=1;i<=6;i++){
                    if($(this).val()==0){
                        $('#unique_response_'+key_question+'_'+i).show();
                        $('#multiple_response_'+key_question+'_'+i).hide();
                        $('#note_'+key_question+'_'+i).hide();
                        if(i<=2){
                            $("#unique_response_"+key_question+'_1').prop('checked', true);
                        }
                        $('#note_'+key_question+'_'+i).val("");
                    }else{
                        $('#unique_response_'+key_question+'_'+i).hide();
                        $('#multiple_response_'+key_question+'_'+i).prop('checked',false);
                        $('#multiple_response_'+key_question+'_'+i).show();
                        $('input[data-id='+"note_"+key_question+']').hide();
                    }
                }

                $('.unique_response').attr("selected", "selected").each(function () {
                    var key_question=$(this).attr('id').split('_')[2];
                    var key_proposition=$(this).attr('id').split('_')[3];
                    if($(this).is(":checked")){
                        if($('#type_'+key_question).val()==0){
                            $('#note_'+key_question+'_'+key_proposition).show();
                            // $('#note_'+key_question+'_'+key_proposition).val("");
                        }
                    }
                });

            });

            $('.unique_response').attr("selected", "selected").each(function () {
                var key_question=$(this).attr('id').split("_")[2];
                var key_proposition=$(this).attr('id').split("_")[3];
                if($('input[data-id='+"unique_response_"+key_question+"_"+key_proposition+']').is(":checked")){
                    $('#note_'+key_question+'_'+key_proposition).show();
                }
            });



            $('.multiple_response').attr("selected", "selected").each(function () {
                var key_question=$(this).attr('id').split("_")[2];
                var key_proposition=$(this).attr('id').split("_")[3];
               // if($('input[data-id='+"unique_response_"+key_question+"_"+key_proposition+']').is(":checked")){
                if($('#multiple_response_'+key_question+'_'+key_proposition).is(":checked")){
                    $('#note_'+key_question+'_'+key_proposition).show();
                }
            });

            $('body').on('change', '.multiple_response', function (e) {
                var key_question=$(this).attr('id').split('_')[2];
                var key_proposition=$(this).attr('id').split('_')[3];
                if ($(this).is(":checked")) {
                    $('#note_'+key_question+'_'+key_proposition).show();
                }else{
                    $('#note_'+key_question+'_'+key_proposition).val("");
                    $('#note_'+key_question+'_'+key_proposition).hide();
                }
            });

            $('body').on('change', '.unique_response', function (e) {
                var key_question=$(this).attr('id').split('_')[2];
                var key_proposition=$(this).attr('id').split('_')[3];
                $('input[data-id='+"note_"+key_question+']').hide();
                if ($(this).is(":checked")) {
                    $('#note_'+key_question+'_'+key_proposition).show();
                    $('#note_'+key_question+'_'+key_proposition).val("");
                }
            });


            $('body').on('change', '#appbundle_quiz_realTime_hour', function (e) {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_minute').val()!=0 || $('#appbundle_quiz_realTime_second').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }

            });

            $('body').on('change', '#appbundle_quiz_realTime_minute', function (e) {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_hour').val()!=0 || $('#appbundle_quiz_realTime_second').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }
            });

            $('body').on('change', '#appbundle_quiz_realTime_second', function (e) {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_minute').val()!=0 || $('#appbundle_quiz_realTime_hour').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }
            });


            $('#appbundle_quiz_realTime_hour').attr("selected", "selected").each(function () {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_minute').val()!=0 || $('#appbundle_quiz_realTime_second').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }
            });
            $('#appbundle_quiz_realTime_hour').attr("selected", "selected").each(function () {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_minute').val()!=0 || $('#appbundle_quiz_realTime_second').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }
            });

            $('#appbundle_quiz_realTime_minute').attr("selected", "selected").each(function () {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_hour').val()!=0 || $('#appbundle_quiz_realTime_second').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }
            });

            $('#appbundle_quiz_realTime_second').attr("selected", "selected").each(function () {
                if($(this).val()!=0){
                    $('.time_question').prop( "disabled", true );
                } else{
                    if($('#appbundle_quiz_realTime_minute').val()!=0 || $('#appbundle_quiz_realTime_hour').val()!=0){
                        $('.time_question').prop( "disabled", true );
                    }else{
                        $('.time_question').prop( "disabled", false );
                    }
                }
            });

        });

    </script>
    {{ parent() }}
{% endblock  %}