{% extends "AppBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
        {% block css %}
             {{ parent() }}
        {% endblock css %}
{% endblock  %}

        {% block body %}
            <section class="content">
               <center><h1>Bienvenue {% if app.user %} {{ app.user.username }} {% endif %} dans votre espace</h1></center>
                {% for affectation in app.user.affectation  %}
                    {% if affectation.status==0 %}
                        <ul>
                            <li>
                                Pour commencer ou démarrer votre quiz veuillez cliquer pour accéder a votre test QCM
                                <a href="{{ path('quiz_start',{'idUser':app.user.id,'idQuiz':affectation.quiz.id}) }}">{{ affectation.quiz.name }}</a>:
                            </li>

                        </ul>
                    {% endif %}
                {% endfor %}
            </section>

        {% endblock  %}

{% block footer %}
    {{ parent() }}
{% endblock  %}
{% block js %}
   {{ parent() }}
    <!-- DataTables -->
    <script src="{{asset('bundles/app/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/app/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <!-- SlimScroll -->
    <script src="{{asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('bundles/app/plugins/fastclick/fastclick.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/app/dist/js/app.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{asset('bundles/app/dist/js/demo.js')}}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock  %}